<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myproject.firstproject.mapper.security.UserLoginInfoMapper">
    <resultMap id="BaseResultMap" type="com.myproject.firstproject.entity.UserLoginInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="pwd" jdbcType="VARCHAR" property="pwd"/>
        <result column="last_login" jdbcType="TIMESTAMP" property="lastLogin"/>
        <result column="last_login_ip" jdbcType="INTEGER" property="lastLoginIp"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, username, pwd, last_login, last_login_ip
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_login_info
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="findByUserName" resultType="com.myproject.firstproject.entity.UserLoginInfo">
        select  username,pwd,last_login,last_login_ip
        from user_login_info
        where username = #{username}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_login_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.myproject.firstproject.entity.UserLoginInfo">
    insert into user_login_info (id, username, pwd, 
      last_login, last_login_ip)
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
      #{lastLogin,jdbcType=TIMESTAMP}, #{lastLoginIp,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.myproject.firstproject.entity.UserLoginInfo">
        insert into user_login_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="pwd != null">
                pwd,
            </if>
            <if test="lastLogin != null">
                last_login,
            </if>
            <if test="lastLoginIp != null">
                last_login_ip,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null">
                #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="lastLogin != null">
                #{lastLogin,jdbcType=TIMESTAMP},
            </if>
            <if test="lastLoginIp != null">
                #{lastLoginIp,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.myproject.firstproject.entity.UserLoginInfo">
        update user_login_info
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null">
                pwd = #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="lastLogin != null">
                last_login = #{lastLogin,jdbcType=TIMESTAMP},
            </if>
            <if test="lastLoginIp != null">
                last_login_ip = #{lastLoginIp,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.myproject.firstproject.entity.UserLoginInfo">
    update user_login_info
    set username = #{username,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      last_login = #{lastLogin,jdbcType=TIMESTAMP},
      last_login_ip = #{lastLoginIp,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>